# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.AR_labs.iml
# Datasource local storage ignored files
/../../../../../../:\unity\AR_labs\.idea\.idea.AR_labs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
